<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.docmall.mapper.ReviewMapper">

<insert id="review_insert" parameterType="com.docmall.domain.ReviewVO">
	INSERT INTO 
		review_tbl(rew_num, mbsp_id, pro_num, rew_content, rew_score)
	VALUES 
		(seq_review_tbl.NEXTVAL, #{mbsp_id}, #{pro_num}, #{rew_content}, #{rew_score})
</insert>

<update id="review_modify" parameterType="com.docmall.domain.ReviewVO">
	UPDATE
		review_tbl
	SET
		rew_content = #{rew_content}, rew_score = #{rew_score}
	WHERE
		rew_num = #{rew_num}
</update>

<!-- com.docmall.mapper.UserProductMapper -->
<select id="list" parameterType="map" resultType="com.docmall.domain.ReviewVO">
	<![CDATA[
	SELECT
		rew_num, mbsp_id, pro_num, rew_content, rew_score, rew_regdate
	FROM 
	    (
	    SELECT /*+ INDEX_DESC(review_tbl pk_review_tbl) */
    			ROWNUM rn, rew_num, mbsp_id, pro_num, rew_content, rew_score, rew_regdate
	    FROM
    			review_tbl
	    WHERE
	    		pro_num = #{pro_num} AND ROWNUM <= #{cri.pageNum} * #{cri.amount} 
	    )
	WHERE
		rn > (#{cri.pageNum} -1) * #{cri.amount}
	]]>
</select>

<select id="listCount" parameterType="Integer" resultType="int">
	SELECT
		COUNT(*)
	FROM
		review_tbl
	WHERE
		pro_num = #{pro_num}
</select>

<delete id="delete" parameterType="Long">
	DELETE FROM
		review_tbl
	WHERE
		rew_num = #{rew_num}
</delete>

</mapper>